{% extends "base.html" %}

{% block title %}{{ poll.name|title }}{% endblock %}

{% block headers %}
{% load staticfiles %}{# TODO: Update this as soon as datepicker 1.3 is available on CDN #}
<link href="{% static 'bower_components/bootstrap-datepicker/css/datepicker3.css' %}"/>
{% endblock %}

{% block content %}

{% spaceless %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h1>{{ poll.name|title }}<small> Look at its current mood.</small></h1></div>
			</div>
			<div class="row">
				<div class="col-md-9 text-right">
				    <div class="input-daterange">
				    <input type="text" class="input-small"/>
				    <span class="add-on">to</span>
				    <input type="text" class="input-small"/>
				    </div>
				</div>
				<div class="col-md-3">
					<a href="{% url 'vote' poll.slug %}" class="btn-lg btn-default">Vote</a>&nbsp;
					{% if day and month and year %}
						<a href="{% url 'poll_dated' poll.slug year month day %}" class="btn-lg btn-default"><i class="icon-refresh"></i></a>&nbsp;
					{% endif %}
					<a href="{% url 'polls' %}" class="btn-lg btn-default"><i class="icon-home"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		{% if messages %}
		    {% for message in messages %}
			    <div class="alert alert-{{ message.tags }} alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
			    </div>
		    {% endfor %}
		{% endif %}
		<div class="row">
			<div class="moods col-md-4 text-center">
				<p class="text-danger"><i class="icon-frown"> {{ bads_percentage|floatformat:1 }}%</i></p>
				<p class="text-warning"><i class="icon-meh"> {{ oks_percentage|floatformat:1 }}%</i></p>
				<p class="text-success"><i class="icon-smile"> {{ greats_percentage|floatformat:1 }}%</i></p>
			</div>
			<div class="moods col-md-4 text-center">
				<canvas id="bars" width="400" height="300"></canvas>
			</div>
			<div class="moods col-md-4 text-center">
				<canvas id="doughnut" width="400" height="300"></canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% if day and month and year %}
					<h1 class="text-center">Since {{ day }} / {{ month }} / {{year}}</h1>
				{% else %}
					<h1 class="text-center">{{ votes_count }} vote{{ votes_count|pluralize }}</h1>
				{% endif %}
				{% for vote in votes %}
					{% if Vote.GREAT == vote.mood %}
						<span class="text-success vote-icon"><i class="icon-smile">&nbsp;</i></span>
					{% elif Vote.OK == vote.mood %}
						<span class="text-warning vote-icon"><i class="icon-meh">&nbsp;</i></span>
					{% elif Vote.BAD == vote.mood %}
						<span class="text-danger vote-icon"><i class="icon-frown">&nbsp;</i></span>
					{% endif %}
				{% empty %}
					<div class="col-md-12 alert alert-info text-center">No vote so far <i class="icon-smile"></i>.</div>
				{% endfor %}
			</div>
		</div>
	</div>
<!-- All Javascript at the end, I still want it to be fast -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% load staticfiles %}
<!-- We can use it: it is Apache. -->{# TODO: Update this as soon as datepicker 1.3 is available on CDN #}
<script src="{% static 'bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.kr.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.cs.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.sw.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.vi.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.da.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ja.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.tr.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.it.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ca.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ms.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.is.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.de.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ar.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.lt.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ka.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.nl-BE.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.sk.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.cy.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.sv.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.he.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.nl.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.fa.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.fi.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.hu.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.hr.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.sl.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.lv.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.id.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.kk.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.no.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-TW.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.et.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.sq.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.el.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.bg.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.mk.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.th.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.gl.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ro.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.rs-latin.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.rs.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ua.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pl.js' %}"></script>
<script type="text/javascript">
  $('.input-daterange').datepicker({ format: "dd/mm/yyyy" });
</script>

	<!-- We can use it: it is MIT. -->
	<script src="http://www.chartjs.org/docs/Chart.js"></script>
	<script type="text/javascript">

		// Doughnut graph
		var doughnutctx = document.getElementById("doughnut").getContext("2d");
		new Chart(doughnutctx).Doughnut([
			{ color: "#b94a48", value: {{ bads_percentage }} },
			{ color: "#c09853", value: {{ oks_percentage }} },
			{ color: "#468847", value: {{ greats_percentage }} }
		]);

		// Color mapping
		var colormapping = {
			greats: "70, 136, 71",
			oks:    "192, 152, 83",
			bads:   "185, 74, 72"
		};

		// Bar graph
		var labels = [
		{% for date in linechart.labels %}
			"{{date}}",
		{% endfor %}
		];
		{% for varname, values in linechart.values.items %}
			var {{varname}} = [
			{% for value in values %}
				 {{ value }},
			{% endfor %}
			];
		{% endfor %}
		var barsctx = document.getElementById("bars").getContext("2d");
		var BarChart = new Chart(barsctx).Bar({
			labels : labels,
			datasets : [
				{% for varname, values in linechart.values.items %}
					{
						fillColor   : "rgba("+colormapping["{{varname}}"]+",0.5)",
						strokeColor : "rgba("+colormapping["{{varname}}"]+",1)",
						data : {{varname}}
					},
				{% endfor %}
			]
		});
	</script>
{% endspaceless %}

{% endblock %}
