{% extends "base.html" %}

{% block title %}{{ poll.name|title }}{% endblock %}

{% block headers %}
{% load static %}

{% endblock %}

{% block content %}

{% spaceless %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h1>{{ poll.name|title }}<small> Look at its current mood.</small></h1></div>
			</div>
			<div class="row">
				<div class="col-md-9 text-right">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label class="sr-only" for="day">Day</label>
							<input type="text" id="day" class="form-control" placeholder="dd"/>
						</div>/
						<div class="form-group">
							<label class="sr-only" for="month">Month</label>
							<input type="text" id="month" class="form-control" placeholder="mm"/>
						</div>/
						<div class="form-group">
							<label class="sr-only" for="year">Year</label>
							<input type="text" id="year" class="form-control" placeholder="yyyy"/>
						</div>
						<a class="btn-lg btn-default" id="withDate">Go</a>
					</form>
				</div>
				<div class="col-md-3">
					<a href="{% url 'vote' poll.slug %}" class="btn-lg btn-default">Vote</a>&nbsp;
					{% if day and month and year %}
						<a href="{% url 'poll_dated' poll.slug year month day %}" class="btn-lg btn-default"><i class="icon-refresh"></i></a>&nbsp;
					{% endif %}
					<a href="{% url 'polls' %}" class="btn-lg btn-default"><i class="icon-home"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
{% if messages %}                                                               
    {% for message in messages %}                                               
    <div class="alert alert-{{ message.tags }}">                                
     <button type="button" class="close" data-dismiss="alert">&times;</button>  
    {{ message }}                                                               
    </div>                                                                      
    {% endfor %}                                                                
{% endif %}   
		<div class="row">
			<div class="moods col-md-4 text-center">
				<p class="text-danger"><i class="icon-frown"> {{ bads_percentage|floatformat:1 }}%</i></p>
				<p class="text-warning"><i class="icon-meh"> {{ oks_percentage|floatformat:1 }}%</i></p>
				<p class="text-success"><i class="icon-smile"> {{ greats_percentage|floatformat:1 }}%</i></p>
			</div>
			<div class="moods col-md-4 text-center">
				<canvas id="bars" width="400" height="300"></canvas>
			</div>
			<div class="moods col-md-4 text-center">
				<canvas id="doughnut" width="400" height="300"></canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% if day and month and year %}
					<h1 class="text-center">Since {{ day }} / {{ month }} / {{year}}</h1>
				{% else %}
					<h1 class="text-center">{{ votes_count }} vote{{ votes_count|pluralize }}</h1>
				{% endif %}
				{% for vote in votes %}
					{% if Vote.GREAT == vote.mood %}
						<span class="text-success vote-icon"><i class="icon-smile">&nbsp;</i></span>
					{% elif Vote.OK == vote.mood %}
						<span class="text-warning vote-icon"><i class="icon-meh">&nbsp;</i></span>
					{% elif Vote.BAD == vote.mood %}
						<span class="text-danger vote-icon"><i class="icon-frown">&nbsp;</i></span>
					{% endif %}
				{% empty %}
					<div class="col-md-12 alert alert-info text-center">No vote so far <i class="icon-smile"></i>.</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- Yes, I want it to load fast. -->
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#withDate").click(function(){
				var day   = $("#day").val();
				var month = $("#month").val();
				var year  = $("#year").val();
				if ( ! day || ! month || ! year ){
					alert('Please specify a date');
				}else{
					var url = 'http://{{hostname}}{% url 'poll' poll.slug %}';
					url = url + year +"/"+ month +"/"+ day;
					window.location.replace(url);
				}
			});
		});
	</script>
	<!-- We can use it: it is MIT. -->
	<script src="http://www.chartjs.org/docs/Chart.js"></script>
	<script type="text/javascript">

		// Doughnut graph
		var doughnutctx = document.getElementById("doughnut").getContext("2d");
		new Chart(doughnutctx).Doughnut([
			{ color: "#b94a48", value: {{ bads_percentage }} },
			{ color: "#c09853", value: {{ oks_percentage }} },
			{ color: "#468847", value: {{ greats_percentage }} }
		]);

		// Color mapping
		var colormapping = {
			greats: "70, 136, 71",
			oks:    "192, 152, 83",
			bads:   "185, 74, 72"
		};

		// Bar graph
		var labels = [
		{% for date in linechart.labels %}
			"{{date}}",
		{% endfor %}
		];
		{% for varname, values in linechart.values.items %}
			var {{varname}} = [
			{% for value in values %}
				 {{ value }},
			{% endfor %}
			];
		{% endfor %}
		var barsctx = document.getElementById("bars").getContext("2d");
		var BarChart = new Chart(barsctx).Bar({
			labels : labels,
			datasets : [
				{% for varname, values in linechart.values.items %}
					{
						fillColor   : "rgba("+colormapping["{{varname}}"]+",0.5)",
						strokeColor : "rgba("+colormapping["{{varname}}"]+",1)",
						data : {{varname}}
					},
				{% endfor %}
			]
		});
	</script>
{% endspaceless %} 

{% endblock %}
