{% extends "base.html" %}

{% block headers %}
<style type="text/css">
  .big{ font-size: 20em; }
</style>
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Hi. <small>{{ poll.name|title }}</small></h1>
			<p class="text-right"><small>Seeking for </small>
			<a href="{% url 'poll' poll.slug %}" class="btn-lg btn-default">Results</a></p>
		</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="big col-md-4 text-center">
			<p class="text-danger">
				<a href="{% url 'save' poll.slug Vote.BAD %}" title="Bad"><i class="icon-frown"></i></a>
			</p>
		</div>
		<div class="big col-md-4 text-center">
			<p class="text-warning">
				<a href="{% url 'save' poll.slug Vote.OK %}" title="OK"><i class="icon-meh"></i></a>
			</p>
		</div>
		<div class="big col-md-4 text-center">
			<p class="text-success">
				<a href="{% url 'save' poll.slug Vote.GREAT %}" title="Great"><i class="icon-smile"></i></a>
			</p>
		</div>
	</div>
	</div>
{% endblock %}
